body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.home-desc p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: crimson;
}

.donate-schemes {
    padding: 20px 20px;
    background-color: lightyellow;
    color: #000000;
}

.nav-item {
    font-size: 1.4rem;
    display: inline-block;
    padding: 0 0.3rem;
}